Repository FRONTENDBOOTCAMP-13th/JS-02-twodari, pull requests merged in 2025-05, with the labels that each got.

#14 Feature/13 css assets/yujin
  public/font/WantedSansVariable.css
  public/font/fonts.css
  public/font/woff2/DungGeunMo.woff2
  src/assets/img/.gitkeep
  src/assets/img/background_north.jpg
  src/assets/img/east_background.jpg
  src/assets/img/start_background.jpg
  src/assets/img/title_background.jpg
  src/assets/img/west_background.jpg
  src/style.css
Labels: 💫 Style

#17 feat : 게임 배경 설명 화면 제작
  index.html
  src/TS/.gitkeep
  src/TS/start_page.ts
  src/pages/start_page.html
  src/style.css
  src/types/.gitkeep
  src/types/type.ts
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#21 feat : 엔딩 화면 제작 #20
  index.html
  src/TS/bad_end.ts
  src/TS/normal_end.ts
  src/TS/start_page.ts
  src/TS/true_end.ts
  src/assets/img/bad_end_1.jpg
  src/assets/img/bad_end_2.jpg
  src/assets/img/normal_end_1.jpg
  src/assets/img/normal_end_2.jpg
  src/assets/img/true_end_1.jpg
  src/assets/img/true_end_2.jpg
  src/pages/bad_end.html
  src/pages/normal_end.html
  src/pages/start_page.html
  src/pages/true_end.html
  src/style.css
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#25 feat: 공통 버튼 컴포넌트 제작 #18
  src/TS/icon_btn.ts
  src/assets/components/.gitkeep
  src/assets/icon/.gitkeep
  src/assets/icon/hint.svg
  src/assets/icon/item.svg
  src/assets/icon/off_music.svg
  src/assets/icon/on_music.svg
  src/assets/icon/search.svg
  src/components/common/icon_btn.html
  src/style.css
  src/utils/.gitkeep
  src/utils/createIconBtn.ts
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#29 docs : README 작성 #28
  README.md
Labels: 📖 Documentation

#31 feat : 시작 페이지 연결 #30
  index.html
  src/TS/start_page.ts
  src/pages/game_title_page.html
  src/pages/start_loading.html
  src/pages/start_page.html
  src/style.css
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#32 Feat: 공통 컴포넌트 중간 체크 #18
  src/TS/icon_btn.ts
  src/TS/timer.ts
  src/assets/icon/no_use.svg
  src/components/common/timer.html
  src/style.css
  src/utils/createIconBtn.ts
  src/utils/createTimer.ts
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#35 feat : sample room 제작 #26
  index.html
  public/sample/TS/game_manager.ts
  public/sample/TS/interaction_manager.ts
  public/sample/TS/inventory_manager.ts
  public/sample/TS/minigame_manager.ts
  public/sample/TS/north_room.ts
  public/sample/TS/room_manager.ts
  public/sample/TS/ui_manager.ts
  public/sample/pages/play_game.html
  src/assets/img/south_background.jpg
  src/assets/img/start_background.jpg
  src/assets/img/west_background.jpg
  src/style.css
  src/types/type.ts
  tsconfig.json
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#37 feat : 거울 닦기 미니게임 제작 #36
  public/effectSound/mirror_swipe.mp3
  public/sample/TS/interaction_manager.ts
  public/sample/TS/minigame_manager.ts
  public/sample/TS/north_room.ts
  public/sample/assets/img/blood.png
  public/sample/assets/img/mirror.png
  src/TS/north_minigames.ts
  src/assets/img/blood.png
  src/assets/img/mirror.png
  src/assets/img/towel.png
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#40 feat : 일부 파일의 특정 요소 수정 #39
  public/effectSound/bad_end.mp3
  public/effectSound/normal_end.mp3
  public/effectSound/start_page.mp3
  public/effectSound/true_end.mp3
  public/effectSound/typing.mp3
  src/TS/bad_end.ts
  src/TS/normal_end.ts
  src/TS/start_page.ts
  src/TS/true_end.ts
  src/pages/normal_end.html
  src/pages/true_end.html
Labels: ⭐ HTML, ✨ Javascript

#44 Feature/34 move/yujin
  public/assets/img/background_north.jpg
  public/assets/img/east_background.jpg
  public/assets/img/south_background.jpg
  public/assets/img/west_background.jpg
  src/TS/east_room.ts
  src/TS/move_btn.ts
  src/TS/north_room.ts
  src/TS/room_manager.ts
  src/TS/south_room.ts
  src/TS/west_room.ts
  src/components/common/move.html
  src/style.css
  src/utils/createMoveBtn..ts
  src/utils/keyboardListener.ts
  src/utils/moveController.ts
Labels: 🐛 BugFix, ⭐ HTML, ✨ Javascript

#46 refactor/34 move/yujin
  src/TS/search_btn.ts
  src/utils/createSearchBtn.ts
  src/utils/itemManager.ts
Labels: 🐛 BugFix

#51 feat : 복합기 미니게임+@ #38
  README.md
  public/effectSound/complete.mp3
  public/effectSound/failure.mp3
  public/effectSound/good_hit.mp3
  public/effectSound/miss.mp3
  public/effectSound/perfect_hit.mp3
  public/effectSound/repair_loop.mp3
  public/sample/TS/interaction_manager.ts
  public/sample/TS/minigame_manager.ts
  public/sample/TS/north_room.ts
  public/sample/TS/room_manager.ts
  public/sample/TS/ui_manager.ts
  public/sample/assets/img/blood.png
  public/sample/assets/img/blood.webp
  public/sample/assets/img/copier.webp
  public/sample/assets/img/health.webp
  public/sample/assets/img/mirror.png
  public/sample/assets/img/mirror.webp
  src/TS/bad_end.ts
  src/TS/normal_end.ts
  src/TS/north_minigames.ts
  src/TS/password_keypad.ts
  src/TS/start_page.ts
  src/TS/true_end.ts
  src/assets/img/background_north.webp
  src/assets/img/bad_end_1.jpg
  src/assets/img/bad_end_1.webp
  src/assets/img/bad_end_2.jpg
  src/assets/img/bad_end_2.webp
  src/assets/img/blood.png
  src/assets/img/blood.webp
  src/assets/img/clue_1.png
  src/assets/img/clue_1.webp
  src/assets/img/clue_3.png
  src/assets/img/clue_3.webp
  src/assets/img/copier.webp
  src/assets/img/east_background.webp
  src/assets/img/health.webp
  src/assets/img/mirror.png
  src/assets/img/mirror.webp
  src/assets/img/normal_end_1.jpg
  src/assets/img/normal_end_1.webp
  src/assets/img/normal_end_2.jpg
  src/assets/img/normal_end_2.webp
  src/assets/img/south_background.webp
  src/assets/img/title_background.jpg
  src/assets/img/title_background.webp
  src/assets/img/towel.png
  src/assets/img/towel.webp
  src/assets/img/true_end_1.jpg
  src/assets/img/true_end_1.webp
  src/assets/img/true_end_2.jpg
  src/assets/img/true_end_2.webp
  src/assets/img/west_background.webp
  src/pages/bad_end.html
  src/pages/normal_end.html
  src/pages/start_page.html
  src/pages/true_end.html
  src/style.css
Labels: 🐛 BugFix, ⭐ HTML, 💫 Style, ✨ Javascript

#52 feat: 인벤토리 구현 #47
  src/TS/icon_btn.ts
  src/TS/search_btn.ts
  src/style.css
  src/types/type.ts
  src/utils/createIconBtn.ts
  src/utils/itemManager.ts
  src/utils/itemManagerInstance.ts
Labels: ⭐ HTML, 💫 Style, ✨ Javascript, 🔴 Priority: High

#53 feature: 코드 미니게임 제작 #45
  index.html
  src/TS/minigame/west_minigame.ts
  src/TS/north_room.ts
  src/TS/room/east_room.ts
  src/TS/room/north_room.ts
  src/TS/room/south_room.ts
  src/TS/room/west_room.ts
  src/TS/room_manager.ts
  src/TS/west_room.ts
  src/components/common/play_test.html
  src/style.css
Labels: ⭐ HTML, ✨ Javascript

#55 feat : 스킵 버튼 추가 #54
  src/pages/start_page.html
Labels: ⭐ HTML

#58 feat: 타이머 리셋 #57
  src/utils/createTimer.ts
Labels: ✨ Javascript

#60 feature: 서랍 미니게임 구현 #27
  src/TS/minigame/west_password.ts
  src/TS/room/west_room.ts
  src/components/common/play_test.html
  src/style.css
Labels: ⭐ HTML, ✨ Javascript

#61 feat : 북쪽 방 합치기 #56
  src/TS/minigame/north_minigames.ts
  src/TS/room/north_room.ts
  src/TS/true_end.ts
  src/assets/img/clue_copier.webp
  src/assets/img/wrench.webp
  src/pages/play_ground.html
  src/utils/itemManager.ts
Labels: 🐛 BugFix, ⭐ HTML, 💫 Style, ✨ Javascript

#64 feat : 기타 버그 수정 #62
  README.md
  public/assets/icon/hint.svg
  public/assets/icon/item.svg
  public/assets/icon/move.svg
  public/assets/icon/no_use.svg
  public/assets/icon/off_music.svg
  public/assets/icon/on_music.svg
  public/assets/icon/search.svg
  public/assets/img/background_north.webp
  public/assets/img/bad_end_1.webp
  public/assets/img/bad_end_2.webp
  public/assets/img/blood.webp
  public/assets/img/clue_3.webp
  public/assets/img/clue_copier.webp
  public/assets/img/copier.webp
  public/assets/img/east_background.webp
  public/assets/img/health.webp
  public/assets/img/mirror.webp
  public/assets/img/normal_end_1.webp
  public/assets/img/normal_end_2.webp
  public/assets/img/south_background.webp
  public/assets/img/title_background.webp
  public/assets/img/towel.webp
  public/assets/img/true_end_1.webp
  public/assets/img/true_end_2.webp
  public/assets/img/west_background.webp
  public/assets/img/wrench.webp
  src/TS/minigame/north_minigames.ts
  src/TS/room/north_room.ts
Labels: 🐛 BugFix, 📖 Documentation, ✨ Javascript

#65 feature: 게임 전체 레이아웃 반응형 코드 추가, 방향키/단서 팝업 반응형 변경 #63
  src/TS/minigame/west_password.ts
  src/TS/move_btn.ts
  src/TS/room/west_room.ts
  src/TS/scale_game.ts
  src/components/common/play_test.html
  src/style.css
  src/utils/createMoveBtn..ts
  src/utils/showCluePopup.ts
Labels: 🐛 BugFix, ⭐ HTML, ✨ Javascript

#66 feat: 화이트 보드 미니게임 UI 완성 #59
  public/assets/img/white_board.jpg
  src/TS/minigame/east_minigames.ts
  src/components/common/icon_btn.html
  src/style.css
Labels: ⭐ HTML, 💫 Style, ✨ Javascript

#69 feat : 버그 픽스 #67
  src/TS/minigame/password_keypad.ts
  src/TS/minigame/south_minigame.ts
  src/TS/password_keypad.ts
  src/TS/room/north_room.ts
  src/TS/room/south_room.ts
  src/TS/room/west_room.ts
  src/utils/showCluePopup.ts
Labels: 🐛 BugFix, ✨ Javascript

#72 feat : 남쪽 방 퍼즐 미니 게임 생성
  public/assets/img/puzzle.svg
  public/assets/img/puzzle_.webp
  src/TS/minigame/password_keypad.ts
  src/TS/minigame/south_minigame.ts
  src/TS/room/south_room.ts
  src/pages/play_ground.html
  src/style.css
Labels: 💫 Style, ✨ Javascript

#81 feat : 서쪽 방 서랍 로직 변경 #79
  src/TS/minigame/west_password.ts
  src/TS/room/north_room.ts
Labels: 🐛 BugFix, ✨ Javascript

#92 feat : 각종 기능 추가 #88
  README.md
  index.html
  src/TS/ControlTower.ts
  src/TS/components/createMoveBtn..ts
  src/TS/pages/start_page.ts
  src/pages/start_page.html
  src/utils/keyboardListener.ts
  src/utils/moveController.ts
  src/utils/room_manager.ts
  src/utils/transition_effect.ts
Labels: 🐛 BugFix, ⭐ HTML, 💫 Style, ✨ Javascript

#106 fix : 기타 수정 #105
  README.md
  src/TS/pages/room/west_room.ts
Labels: 📖 Documentation, ✨ Javascript
